<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2018 吴汶泽(wenzewoo@gmail.com)
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastjee.usercenter.mapper.RoleMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <resultMap id="ResultMapWithRole" type="com.fastjee.common.entity.Role">
        <id column="Role_id" property="id" />
        <result column="Role_code" property="code" /><!--//.角色编码-->
        <result column="Role_name" property="name" /><!--//.角色名称-->
        <result column="Role_priority" property="priority" /><!--//.优先级-->
        <result column="Role_description" property="description" /><!--//.描述-->
        <result column="Role_createAt" property="createAt" />
        <result column="Role_createDate" property="createDate" />
        <result column="Role_modifyAt" property="modifyAt" />
        <result column="Role_modifyDate" property="modifyDate" />
        <result column="Role_systemId" property="systemId" /><!--//.系统uuid-->
    </resultMap>
    <sql id="SqlWithRoleSelectAll">
        SELECT
            Role.id AS Role_id,
            Role.code AS Role_code,
            Role.name AS Role_name,
            Role.priority AS Role_priority,
            Role.description AS Role_description,
            Role.createAt AS Role_createAt,
            Role.createDate AS Role_createDate,
            Role.modifyAt AS Role_modifyAt,
            Role.modifyDate AS Role_modifyDate,
            Role.systemId AS Role_systemId
        FROM tb_role AS Role
    </sql>
    <select id="findByUserId" parameterType="string" resultMap="ResultMapWithRole">
        <include refid="SqlWithRoleSelectAll" />
        LEFT JOIN tb_user_role UserRole ON UserRole.roleId = Role.id
        LEFT JOIN tb_user User ON User.id = UserRole.userId
        WHERE User.id = #{userId}
    </select>
</mapper>
